html {
  color: black !important;
}

h3 {
  padding-top: 5rem;
}

button {
  color: black !important;
}

a:hover {
  text-decoration: none;
}

.navbar {
  padding: 2rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #f5e3e3 !important;
  font-family: "Turret Road", cursive;
  font-size: 2.5rem;
}

.navbar-brand {
  font-size: inherit;
}

.navbar-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.MINE-whole {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: white;
}

.MINE-table-of-contents {
  border: 1px black solid;
  border-radius: 10px;
  padding: 2rem;
  width: 28%;
  margin: 3rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 10%;
  background-color: rgba(222, 233, 220, 0.726) !important;
  font-family: "Turret Road", cursive;
  font-size: 1.2rem;
  line-height: 2rem;
}

.MINE-big-title {
  text-align: center;
}

.MINE-nav-buttons {
  padding-top: 3rem;
}

.MINE-title-nav {
  background-color: rgba(222, 233, 220, 0.726);
  margin: 1rem;
  margin-bottom: 5rem;
  border-radius: 10px;
  padding: 3rem;
  border: 3px darkslategrey solid;
}

.MINE-rundown {
  border: 1px black solid;
  border-radius: 10px;
  padding: 2rem;
  width: 28%;
  margin: 3rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 10%;
  background-color: rgba(222, 233, 220, 0.726) !important;
  font-family: "Turret Road", cursive;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  font-size: 1.2rem;
  line-height: 3rem;
}

.MINE-middle-column {
  background-color: rgba(38, 58, 17, 0.685);
  padding: 3rem;
}

.MINE-nav-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.MINE-button {
  width: 60%;
}

.bulk {
  background-color: rgba(222, 233, 220, 0.726);
  margin: 2rem;
  padding: 5rem;
  border-radius: 10px;
  font-size: 1.3rem !important;
  margin: 0 auto;
}

.bulk-pics {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  padding: 3rem;
}

@media (min-width: 1300px) {
  .hidden-desktop {
    display: none !important;
  }
}

@media (max-width: 1300px) {
  .hidden-mobile {
    display: none !important;
  }
  .MINE-whole {
    display: inline;
  }
  hr {
    display: none;
  }
  h2 {
    font-size: 1.5rem;
  }
  p {
    padding-top: 1rem;
  }
  .navbar {
    font-size: 2rem;
  }
  .MINE-dropdown-button {
    display: block;
    width: 100%;
    margin: 0 auto;
    border: 2px green solid;
    padding: 1rem;
  }
  .MINE-title-nav {
    margin: 1rem;
  }
  .MINE-rundown {
    margin: 3rem auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border: 1px black solid;
    width: 90%;
  }
  .MINE-rundown-list,
  .MINE-rundown-links {
    width: 40%;
    padding: 0rem;
    margin: auto;
  }
  .MINE-nav-buttons {
    margin: 1rem auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1rem;
  }
  .MINE-button {
    width: 50%;
  }
  .bulk {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem;
  }
}

@media (max-width: 450px) {
  .bulk-pics {
    padding: .5rem;
  }
  .navbar {
    font-size: 1rem;
    line-height: 1rem;
  }
  .MINE-rundown {
    line-height: 1rem;
  }
  h2 {
    font-size: 1rem;
  }
  li {
    font-size: .5rem;
  }
}
/*# sourceMappingURL=sass.css.map */